<div class="container">
  <div class="row my-5">
    <div class="col-lg-6 mx-auto p-5 rounded-3" style="background-color: #fff">
      <h2 *ngIf="!isAdmin" class="text-center">Login</h2>
      <h2 *ngIf="isAdmin" class="text-center">Admin Login</h2>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control {{
            requiredErr[0] === 'both' || requiredErr[0] === 'email'
              ? 'is-invalid '
              : ''
          }}"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
          [formControl]="email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div class="invalid-feedback">{{ requiredErr[1] }}</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control {{
            requiredErr[0] === 'both' || requiredErr[0] === 'password'
              ? 'is-invalid '
              : ''
          }}"
          id="exampleInputPassword1"
          required
          [formControl]="password"
        />
        <div class="invalid-feedback">{{ requiredErr[1] }}</div>
      </div>

      <button
        type="submit"
        (click)="isAdmin ? adminSumbmit() : submit()"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
  </div>
</div>
