<div
  class="bg-white vw-100 d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="my-5 text-center">Products</h1>
  <table class="table table-hover text-center w-75">
    <thead class="my-2">
      <th>S.NO</th>
      <th>product Id</th>
      <th>product name</th>
      <th>price</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.id }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td>
          <a (click)="edit(product.id)"
            ><i class="bi bi-pencil-square px-4 text-success pointer"></i
          ></a>
          <a (click)="deleteProduct(product.id)"
            ><i class="bi bi-trash px-4 text-danger pointer"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
