<div class="container-fluid p-5 bg-white ht">
  <h2 class="text-center my-5">Products</h2>
  <div class="container p-5 rounded shadow">
    <input
      type="text"
      class="form-control mb-5"
      placeholder="Filter"
      [(ngModel)]="filter"
      (input)="filterProduct()"
    />
    <div class="d-flex gap-3 mb-4">
      <input
        type="button"
        class="btn btn-outline-dark"
        (click)="getData()"
        value="All"
      />
      <ng-container *ngFor="let cate of category">
        <input
          type="button"
          class="btn btn-outline-dark"
          value="{{ cate }}"
          (click)="filterByCategory(cate)"
        />
      </ng-container>
    </div>
    <table class="table text-center">
      <thead class="">
        <th>S.NO</th>
        <th>product Id</th>
        <th>product name</th>
        <th>price</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.id }}</td>
          <td class="btn-link pointer" (click)="nav(product.id)">
            {{ product.productName }}
          </td>
          <td>{{ (product.amount | currency : "INR")?.slice(0, -3) }}</td>
          <td>
            <a (click)="edit(product.id)"
              ><i class="bi bi-pencil-square px-4 text-success pointer"></i
            ></a>
            <a (click)="deleteProduct(product.id)"
              ><i class="bi bi-trash px-4 text-danger pointer"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
