<div class="container-fluid">
  <div class="row my-5">
    <div class="col-lg-10 mx-auto">
      <div class="bg-white rounded-3 p-5" style="height: fit-content">
        <div class="mx-lg-5" *ngIf="!isEmpty">
          <h3 class="text-center mb-5">Shopping Cart</h3>
          <app-cart-table
            (emtyCart)="checkCartEmty($event)"
            class="container"
            [id]="id"
          ></app-cart-table>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="next()">
              Place Order
            </button>
          </div>
        </div>

        <div
          *ngIf="isEmpty"
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            src="https://m.media-amazon.com/images/G/31/cart/empty/kettle-desaturated._CB424694257_.svg"
            alt=""
            width="250"
            srcset=""
          />
          <h1 class="text-start">Your cart is emty</h1>
          <p class="text-success">Special deal's</p>
          <a class="btn btn-success" [routerLink]="['/']">Shop</a>
        </div>
      </div>
      <div class="bg-white overflow-x-scroll rounded-3 my-3">
        <app-product-list-component
          class="d-flex gap-3 w-100 mx-0 p-5"
          [category]="'PC & Laptops'"
          [isHome]="false"
        ></app-product-list-component>
      </div>
      <div class="bg-white overflow-x-scroll rounded-3">
        <app-product-list-component
          class="d-flex gap-3 w-100 mx-0 p-5"
          [category]="'Mobiles'"
          [isHome]="false"
        ></app-product-list-component>
      </div>
    </div>
  </div>
</div>
