<div class="row mt-sm-0 mt-3 py-4 bg-white">
  <div class="col-lg-6">
    <div
      class="d-flex {{
        screenWidth < 1422 ? 'flex-column-reverse ' : ''
      }} gap-5 sticky-lg-top top"
    >
      <div
        class="ms-3 d-flex  {{
          screenWidth < 1422
            ? 'justify-content-center  align-items-center '
            : 'flex-column'
        }}"
      >
        <div
          class="img-conatiner grid  {{ activeImage === i ? 'active' : '' }} {{
            screenWidth < 1422 ? 'mx-2' : 'my-2'
          }} "
          *ngFor="let img of data.images; let i = index"
          (mouseenter)="changeImage(img, i)"
        >
          <img src="{{ img }}" alt="" srcset="" />
        </div>
      </div>
      <div class="me-4 w-100 img">
        <img
          src="{{ image }}"
          alt=""
          srcset=""
          class="w-100 zoom-image {{ isZoomed ? 'zoomed' : '' }}"
          (mousemove)="handleMouseMove($event)"
          (mouseleave)="handleMouseOut()"
          [style.transform-origin]="isZoomed ? getTransformOrigin() : ''"
        />
      </div>
    </div>
  </div>

  <div class="col-lg-6 mx-auto mt-3 pt-3 pt-lg-0 pe-5">
    <h3>{{ data.productName ? data.productName : "" }}</h3>
    <p>
      <span class="text-success fw-medium">Category </span>{{ data.category }}
    </p>
    <p class="pb-0 mb-0">{{ data.description }}</p>

    <div class="d-flex align-items-center fs-6 gap-2">
      <app-star-rating
        [rating]="data.rating ? data.rating : 0"
        [readonly]="true"
      ></app-star-rating>
      ({{ data.noOfRatings }} reviwes)
    </div>

    <div class="my-4">
      <span class="text-success fw-medium">Special Price </span>
      <app-view-price
        [amount]="data.amount"
        [price]="data.price"
        [discount]="data.discount"
        [list]="false"
      ></app-view-price>
      <div class="d-flex algin-items-center">
        <button
          class="btn btn-success my-3 {{
            qty.value
              ? qty.value < 1 || data.quantity < qty.value
                ? 'disabled '
                : ''
              : qty.value === 0
              ? 'disabled'
              : ''
          }} {{ data.quantity < 1 || !userId ? 'disabled' : '' }}"
          (click)="add()"
        >
          Add to cart
        </button>
        <input
          type="number"
          [formControl]="qty"
          style="width: 50px"
          class="fs-6 form-control m-3 p-2"
          max="{{ data.quantity }}"
          min="1"
        />
        <div *ngIf="success" class="alert alert-success" role="alert">
          Successfully added to cart
        </div>
        <div *ngIf="!userId" class="alert alert-danger" role="alert">
          Please login to order this product
        </div>
      </div>
      <p *ngIf="data.quantity < 1" class="text-danger">Out of stock</p>
      <p *ngIf="data.quantity > 1">Speed delivery</p>
    </div>
    <hr />
    <div>
      <h5>Available offers</h5>
      <ul>
        <li>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</li>
        <li>
          Special PriceGet extra 17% off (price inclusive of cashback/coupon)T&C
        </li>
        <li>No cost EMI ₹1,109/month. Standard EMI also availableView Plans</li>
      </ul>
    </div>
    <hr />
    <div class="spec">
      <h5>Specification</h5>
      <table class="mt-4">
        <tbody>
          <tr
            class="d-justify-content-between"
            *ngFor="let entry of getObjectEntries(spec)"
          >
            <td class="pe-5 ps-2 fw-semibold">
              {{ entry[0].replace("_", " ") }}
            </td>
            <td>{{ entry[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="about my-5">
      <h5>About</h5>
      <ul>
        <li *ngFor="let about of data?.about">{{ about }}</li>
      </ul>
    </div>
  </div>
</div>
