.top {
  top: 88px;
}

.z {
  z-index: 100;
}

.img-conatiner img {
  width: 4rem;
}

.img-conatiner {
  overflow: hidden;
  border: 4px solid #eee;
  border-radius: 10px;
  width: 4rem;
}

.img {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.zoom-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.zoomed {
  transform-origin: var(--zoomX) px var(--zoomY) px;
  transform: scale(2);
}

.grid {
  display: grid;
  place-content: center;
}

li,
p,
span,
td {
  font-size: 18px;
}

.img-conatiner.active {
  border: 4px solid #333;
}

@media (max-width: 999px) {
  .top {
    top: 10px;
  }
}
