<nav class="navbar navbar-expand-lg bg-dark py-3" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">FastKart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <span style="width: 100%"></span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="alt()">Cart</button>
        </li>

        <li *ngIf="!logState" class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li *ngIf="!logState" class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>

        <li *ngIf="logState" class="nav-item">
          <div class="prfile">
            <img
              src="../../assets/profile.png"
              alt=""
              srcset=""
              height="40"
              width="45"
            />
            <ul class="profile-links">
              <li>
                <p class="text-center">{{ user.name }}</p>
              </li>
              <li>
                <a class="nav-link" routerLink="order-history/{{ user.id }}">
                  Order History
                </a>
              </li>
              <li>
                <a class="nav-link" routerLink="dtl/{{ user.id }}">
                  Delivery Address
                </a>
              </li>
              <li>
                <button class="btn btn-danger w-100" (click)="logout()">
                  Logout
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
