<div
  *ngFor="let product of product.slice(start, end)"
  class="row my-2 product-detail bg-white d-flex justify-content-center align-items-center g-1 rounded-3"
  style="border: 2px solid #ddd"
  (click)="nav(product.id)"
>
  <div
    class="{{
      isHome ? 'col-md-4' : 'col-lg-12'
    }} d-flex justify-content-center p-sm-1"
  >
    <img src="{{ product.thumbnail }}" alt="img" class="image" />
  </div>
  <div
    class="card-body {{ isHome ? 'col-md-8' : 'col-lg-12' }} pe-lg-5 px-4 py-3"
  >
    <h5>{{ product.productName }}</h5>
    <p>
      <span class="text-success fw-medium">Category </span
      >{{ product.category }}
    </p>
    <app-view-price
      *ngIf="isHome"
      [amount]="product.amount"
      [discount]="product.discount"
      [price]="product.price"
    ></app-view-price>
    <app-view-price
      *ngIf="!isHome"
      [amount]="product.amount"
      [discount]="product.discount"
      [price]="product.price"
      [list]="false"
    ></app-view-price>
    <app-star-rating
      [readonly]="true"
      [rating]="product.rating ? product.rating : 0"
    ></app-star-rating>

    <p class="description {{ isHome ? '' : 'line' }}">
      {{ product.description }}
    </p>
  </div>
</div>
<div class="d-flex justify-content-center my-4">
  <ng-container *ngIf="!category && pageNumbers.length > 1">
    <button
      class="btn btn-link"
      *ngIf="start > 0"
      (click)="changePage(activePage - 1)"
    >
      &#xAB; Previous
    </button>
    <button
      class=" btn {{ activePage === i + 1 ? 'active' : 'btn-link' }}"
      *ngFor="let _ of pageNumbers; let i = index"
      (click)="changePage(i + 1)"
    >
      {{ i + 1 }}
    </button>
    <button
      *ngIf="end < pageNumbers.length * 10 - 1"
      class="btn btn-link"
      (click)="changePage(activePage + 1)"
    >
      Next &#xBB;
    </button>
  </ng-container>
</div>
