.product-detail {
  transition: box-shadow 0.2s ease-in-out;
}

.product-detail:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-detail:hover .card-body h5 {
  color: #00f;
}

.image {
  padding: 10px;
  max-width: 20rem;
  min-width: 15rem;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description.line {
  -webkit-line-clamp: 1;
}

.btn-link {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: #01015a;
}
