<div
  routerLink="product/{{ product.id }}"
  *ngFor="let product of product"
  class="row my-2 product-detail d-flex justify-content-center align-items-center g-1"
  style="background-color: #fff"
>
  <div
    class="{{
      isHome ? 'col-lg-4' : 'col-lg-12'
    }} d-flex justify-content-center p-sm-1"
  >
    <img src="{{ product.thumbnail }}" alt="img" class="image" />
  </div>
  <div
    class="card-body {{ isHome ? 'col-lg-8' : 'col-lg-12' }} pe-lg-5 px-4 py-3"
  >
    <h5>{{ product.productName }}</h5>
    <p>
      <span class="text-success fw-medium">Category </span
      >{{ product.category }}
    </p>
    <app-star-rating
      [readonly]="true"
      [rating]="product.rating ? product.rating : 0"
    ></app-star-rating>
    <app-view-price
      [amount]="product.amount"
      [discount]="product.discount"
      [price]="product.price"
    ></app-view-price>

    <p class="description {{ isHome ? '' : 'line' }}">
      {{ product.description }}
    </p>
  </div>
</div>
