.price {
  color: #bbb;
  text-decoration: line-through;
}

.product-detail {
  transition: box-shadow 0.2s ease-in-out;
}

.product-detail:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-detail:hover .card-body h5 {
  color: #00f;
}

.image {
  padding: 10px;
  max-width: 20rem;
}

.filter button {
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  border: 0;
  text-align: start;
  transition: all 0.2 ease-in-out;
  border-radius: 5px;
}

.filter button:hover {
  background-color: #eee;
}

.filter {
  top: 90px;
}

@media (max-width: 1220px) {
  .filter {
    top: 5px;
  }
}
