<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-2">
      <div class="card p-4">
        <p>Filter</p>
        <form [formGroup]="form">
          <select
            class="form-select my-1"
            aria-label="Default select example "
            formControlName="price"
          >
            <option disabled>Chosse Price range</option>
            <option>40000 - 50000</option>
            <option>50000 - 70000</option>
            <option>70000 - 100000</option>
          </select>
          <select
            class="form-select my-1"
            aria-label="Default select example"
            formControlName="about"
          >
            <option disabled>Chosse Spec</option>
            <option>256gb SSD and 8Gb RAM</option>
            <option>512GB SSD and 16GB RAM</option>
            <option>1TB and 8Gb RAM</option>
          </select>
          <button class="btn btn-primary" (click)="getData()">Search</button>
        </form>
      </div>
    </div>
    <div class="col-lg-10 mx-auto">
      <div
        routerLink="product/{{ product.id }}"
        *ngFor="let product of data"
        class="row my-2 p-0 mx-3 product-detail d-flex justify-content-center align-items-center"
        style="background-color: #fff"
      >
        <div class="col-lg-4 p-sm-3">
          <img src="{{ product.thumbnail }}" alt="img" class="image" />
        </div>
        <div class="card-body col-lg-4 pe-lg-5 p-3 position-relative">
          <h5>{{ product.productName }}</h5>
          <h3 class="fw-light text-secondary">
            <span class="text-success fw-medium">Price: </span>
            <span class="price pe-2">₹{{ product.price }}</span
            >{{ discount.discountPrice(product.price, product.discount) }}
          </h3>
          <p>{{ product.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <p>Speed delivery</p>
            <a
              class="btn btn-outline-secondary me-2"
              [routerLink]="['/product', product.id]"
              >Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
