<div class="container my-5 py-4" style="background-color: #fff">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <h3 class="text-center my-5">Order deatils</h3>
      <h5>Deliver Address</h5>
      <div *ngIf="deliveryAddress" class="col-12 my-4">
        Contact: {{ deliveryAddress.email }} {{ deliveryAddress.phone }}<br />
        Address:
        {{ address(deliveryAddress.address) }}<br />
        <a routerLink="/dtl/{{ deliveryAddress.user_id }}" class="btn btn-link"
          >Change address</a
        >
      </div>
      <div *ngIf="!deliveryAddress">
        <a routerLink="/dtl/{{ user_id }}" class="btn btn-link">Add address</a>
      </div>
      <app-cart-table></app-cart-table>
      <div class="col-12">
        <!-- <button
          type="submit"
          class="btn btn-primary {{ paymentOption.valid ? '' : 'disabled ' }}"
          (click)="submit()"
        >
          Place Order
        </button> -->
        <div #body></div>
      </div>
    </div>
  </div>
</div>
