<div class="container my-5 py-4 vh-100" style="background-color: #fff">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <h3 class="text-center my-5">Order deatils</h3>
      <div *ngIf="deliveryAddress" class="col-12 my-5">
        <h5 class="text-decoration-underline">Contact:</h5>
        <strong> Email : </strong>{{ deliveryAddress.email }} <br /><strong
          >Phone :</strong
        >
        {{ deliveryAddress.phone }}<br />
        <strong>Address:</strong>
        {{ address(deliveryAddress.address) }}<br />
        <a routerLink="/dtl/{{ deliveryAddress.user_id }}" class="ms-0 btn-link"
          >Change address</a
        >
      </div>
      <div *ngIf="!deliveryAddress">
        <a routerLink="/dtl/{{ user.id }}" class="btn btn-link">Add address</a>
      </div>
      <app-cart-table
        [ordered]="true"
        [id]="user.id"
        [admin]="true"
      ></app-cart-table>
      <div class="col-12">
        <!-- <button
          type="submit"
          class="btn btn-primary {{ paymentOption.valid ? '' : 'disabled ' }}"
          (click)="submit()"
        >
          Place Order
        </button> -->
        <div class="d-flex justify-content-end">
          <div class="w-50" #body></div>
        </div>
      </div>
    </div>
  </div>
</div>
