<div class="mt-4 bg-dark" data-bs-theme="dark">
  <div
    class="container p-5 d-flex justify-content-center align-items-center gap-5 fs-4"
  >
    <a href="https://www.instagram.com/?hl=en" target="_blank"
      ><i class="bi bi-instagram"></i
    ></a>
    <a href="https://facebook.com/" target="_blank"
      ><i class="bi bi-facebook"></i
    ></a>
    <a href="https://twitter.com/" target="_blank"
      ><i class="bi bi-twitter-x"></i
    ></a>
    <a href="https://github.com/karthis17" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
  </div>
  <div class="p-3 text-center bg-black text-light">
    Copyright &copy; 2024 | FastKart. All Rights Reserved
  </div>
</div>
