<table class="table text-center">
  <thead>
    <th>S.NO</th>
    <th>Product name</th>
    <th class="text-start">quantity</th>
    <th>Price</th>
    <th>Total</th>
    <th *ngIf="!ordered">Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td (click)="nav(item.product_id)" class="btn-link">
        {{ item.productName }}
      </td>
      <td *ngIf="ordered" class="text-start">{{ item.quantity }}</td>
      <td
        *ngIf="!ordered"
        class="text-start d-flex align-items-center"
        id="qty-edit"
      >
        <input
          type="number"
          style="width: 65px"
          class="fs-6 form-control"
          [value]="item.quantity"
          [formControl]="getFormControl(i)"
          (input)="editQty(i, item.id, item.price)"
        />
      </td>

      <td>{{ (item.price | currency : "INR")?.slice(0, -3) }}</td>
      <td>{{ (item.total | currency : "INR")?.slice(0, -3) }}</td>
      <td *ngIf="!ordered">
        <button (click)="remove(item.id ? item.id : 0)" class="btn">
          <i class="bi bi-trash-fill text-danger fw-bold"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex my-4 justify-content-end align-items-center">
  <h5 class="mx-4">Total Price :</h5>
  <input
    disabled
    type="text"
    class="form-control"
    style="width: fit-content"
    [value]="Total_price | currency : 'INR'"
  />
</div>
