.filter button {
  padding: 5px;
  background-color: transparent;
  border: 0;
  text-align: start;
  transition: all 0.2 ease-in-out;
  border-radius: 5px;
}

.filter button:hover {
  background-color: #eee;
}

.filter {
  top: 100px;

  padding-bottom: 50rem;
}
.min-w-50 {
  min-width: 50%;
}

.h {
  height: 85vh;
}
@media (max-width: 1220px) {
  .filter {
    top: 5px;
  }
}
