.prfile {
  position: relative;
}

.prfile:hover .profile-links,
.profile-links:hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.profile-links {
  transform: translateY(-10px);
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  color: black;
  min-width: 15rem;
  max-width: max-content;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: max-content;
}
ul {
  list-style: none;
}

.profile-links li {
  margin: 5px 0;
}
.profile-links li a {
  text-align: center;
  color: black;
  font-weight: 500;
  margin: 10px 0px;
  border-radius: 5px;
  transition: padding ease-in-out 0.2s background-color ease-in 0.3s;
}

.profile-links li a:hover {
  background-color: #555;
  color: #fff;
  padding-left: 5px;
}

.z {
  z-index: 10000;
}

.avatar {
  border-radius: 50%;
  padding: 2px 12px 4px 12px;
  margin: 0px 10px;
  height: max-content;
  font-size: 16pt;
  background-color: burlywood;
}

.active {
  color: #fff;
  font-weight: 500;
}

.max-w-50 {
  max-width: 50rem;
}

.tansition {
  transition: all 0.3s ease-in-out;
}

.absolute {
  position: absolute;
  bottom: -50px;
  z-index: 100000;
  transform: translate3d(0, -10px, 0);
  visibility: hidden;
  opacity: 0;
}

.absolute.search-active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.menu {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition: all 0.4s ease-in-out;
}

.menu-active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
